<section>
    <button type="button" class="btn btn-circle btn-lg" (click)="onSearch()">
        <span class="glyphicon glyphicon-search"></span>
    </button>
    <input type="text" name="search" id="search" placeholder="Search" *ngIf="searchclick" #search (keyup)="onKeyPress(search)">
    <button type="button" class="btn btn-circle btn-lg" *ngIf="employee" (click)="onDelete(employee.id)">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
    <button type="button" class="btn btn-circle btn-lg">
        <span class="glyphicon glyphicon-filter"></span>
    </button>
    <button type="button" class="btn btn-circle btn-lg" (click)="sortAscending()" *ngIf="!ascending" (click)="sorting()">
        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
    </button>
    <button type="button" class="btn btn-circle btn-lg" (click)="sortDescending()" *ngIf="ascending" (click)="sorting()">
        <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
    </button>
    
    <span id="employee-num">1</span>
    
</section>