<section>
    <button type="button" class="btn btn-circle btn-lg">
        <span class="glyphicon glyphicon-search"></span>
    </button>
    <input type="text" name="search" id="search" placeholder="Search">
    <button type="button" class="btn btn-circle btn-lg">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
    <button type="button" class="btn btn-circle btn-lg">
        <span class="glyphicon glyphicon-filter"></span>
    </button>
    <button type="button" class="btn btn-circle btn-lg">
        <span class="glyphicon glyphicon-sort-by-attributes"></span>
    </button>
    <span id="employee-num">1</span>
    
</section>