<section>
    <div class="popup">
      <div class = "popup-content">
      <form class="form-horizontal"
        [formGroup]="formadd"
        (ngSubmit)="add(formadd.value)"
        >
        <div class="row">
          <div class="col col-md-5">
              <div class="form-group">
                <label class="control-label" for="firstName">First Name</label>
                <input class="form-control" type="text" name="firstName" id="firstName" formControlName="firstName">
              </div>
              <div class="form-group">
                <label class="control-label" for="lastName">Last Name</label>
                <input class="form-control" type="text" name="lastName" id="lastName" formControlName="lastName" >
              </div>
              <div class="form-group">
                  <label class="control-label" for="gender">Gender</label>
                  <select class="form-control" name="gender" id="gender" formControlName="gender">
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                  </select>
              </div>
              <div class="form-group">
                <label class="control-label" for="dob">Date of Birth</label>
                <input class="form-control" type="text" name="dob" id="dob" formControlName="dob" placeholder="yyyy-mm-dd">
              </div>
              <div class="form-group">
               <label class="control-label" for="nationality">Nationality</label>
              <select class="form-control" name="nationality" id="nationality" formControlName="nationality">
                    <option *ngFor="let nat of lookupLists.nationality" value="{{nat}}">{{nat}}</option>
              </select>
              </div>
              <div class="form-group">
                <label class="control-label" for="maritalStatus">Marital Status</label>
              <select class="form-control" name="maritalStatus" id="maritalStatus" formControlName="maritalStatus">
                    <option *ngFor="let mar of lookupLists.marital" value="{{mar}}">{{mar}}</option>
              </select>
              </div>
              <div class="form-group">
                <label class="control-label" for="phone">Phone</label>
                <input class="form-control" type="text" name="phone" id="phone" formControlName="phone">
              </div>
          </div>
          <div class="col col-md-5">
              <div class="form-group">
                <label class="control-label" for="division">Division</label>
                <input class="form-control" type="text" name="division" id="division" formControlName="division">
              </div>
              <div class="form-group">
                <label class="control-label" for="subDivision">Sub Division</label>
                <input class="form-control" type="text" name="subDivision" id="subDivision" formControlName="subDivision">
              </div>
              <div class="form-group">
                <label class="control-label" for="status">Status</label>
                <input class="form-control" type="text" name="status" id="status" formControlName="status">
              </div>
              <div class="form-group">
                <label class="control-label" for="suspendDate">Suspend Date</label>
                <input class="form-control" type="text" name="suspendDate" id="suspendDate" formControlName="suspendDate" placeholder="yyyy-mm-dd">
              </div>
              <div class="form-group">
                <label class="control-label" for="hiredDate">Hired Date</label>
                <input class="form-control" type="text" name="hiredDate" id="hiredDate" formControlName="hiredDate" placeholder="yyyy-mm-dd">
              </div>
              <div class="form-group">
                <label class="control-label" for="grade">Grade</label>
              <select class="form-control" name="grade" id="grade" formControlName="grade">
                    <option *ngFor="let grade of lookupLists.grade" value="{{grade}}">{{grade}}</option>
              </select>
              </div>
              <div class="form-group">
                <label class="control-label" for="email">Email</label>
                <input class="form-control" type="text" name="email" id="email" formControlName="email">
              </div>
              <div class="form-group">
                  <label class="control-label" for="location">Office Location</label>
                  <select class="form-control" name="location" id="location" formControlName="location" #loc (change)="onChange(loc.value)">
                      <option *ngFor="let l of locations" [value]="l.id">{{l.city}}</option>
                  </select>
              </div>
          </div>
          <div class="col col-md-2">
                 <i id="upload" class="glyphicon glyphicon-camera" (click)="fileInput.click()"></i>
                 <img class="img" [src]="uploadURL" (click)="fileInput.click()">
                 <input #fileInput  name="imageUrl" id="imageUrl" type="file" 
                    (change)="imgProcess($event)" accept="image/*" 
                    formControlName="imageUrl"/>
          </div>
        </div>
        <div class="row">
          <button type="submit" [disabled]="!formadd.valid" class="btn btn-success">Save</button>
          <button type="button" (click)="closePopup()" class="btn btn-danger">Cancel</button>
        </div>
      </form>
      </div>
    </div>
</section>