<section>

    <form class="form-horizontal"
      [formGroup]="form"
      >
      <div class="row">
        <div class="col-md-5" id="formcolumn">
            <div class="form-group">
              <label class="control-label" for="firstname">First Name</label>
              <input class="form-control" type="text" name="firstname" id="firstname" formControlName="firstname" value= "{{ employee.firstName }}">
            </div>
            <div class="form-group">
              <label class="control-label" for="lastname">Last Name</label>
              <input class="form-control" type="text" name="lastname" id="lastname" formControlName="lastname" value= "{{ employee.lastName }}">
            </div>
            <div class="form-group">
                <label class="control-label" for="gender">Gender</label>
                <select class="form-control" name="gender" id="gender" formControlName="gender" value= "{{ employee.gender }}">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="form-group">
              <label class="control-label" for="dob">Date of Birth</label>
              <input class="form-control" type="text" name="dob" id="dob" formControlName="dob" value= "{{ employee.dob }}">
            </div>
            <div class="form-group">
              <label class="control-label" for="nationality">Nationality</label>
              <input class="form-control" type="text" name="nationality" id="nationality" formControlName="nationality" value= "{{ employee.nationality }}">
            </div>
            <div class="form-group">
              <label class="control-label" for="marital">Marital Status</label>
              <input class="form-control" type="text" name="marital" id="marital" formControlName="marital" value= "{{ employee.maritalStatus }}">
            </div>
            <div class="form-group">
              <label class="control-label" for="phone">Phone</label>
              <input class="form-control" type="text" name="phone" id="phone" formControlName="phone" value= "{{ employee.phone }}">
            </div>
        </div>
        <div class="col-md-5" id="formcolumn">
            <div class="form-group">
              <label class="control-label" for="subdiv">Sub Division</label>
              <input class="form-control" type="text" name="subdiv" id="subdiv" formControlName="subdiv" value= "{{ employee.subDivision }}">
            </div>
            <div class="form-group">
              <label class="control-label" for="status">Status</label>
              <input class="form-control" type="text" name="status" id="status" formControlName="status" value= "{{ employee.status }}">
            </div>
            <div class="form-group">
              <label class="control-label" for="suspenddate">Suspend Date</label>
              <input class="form-control" type="text" name="suspenddate" id="suspenddate" formControlName="suspenddate" value= "{{ employee.suspendDate }}">
            </div>
            <div class="form-group">
              <label class="control-label" for="hireddate">Hired Date</label>
              <input class="form-control" type="text" name="hireddate" id="hireddate" formControlName="hireddate" value= "{{ employee.hiredDate }}">
            </div>
            <div class="form-group">
              <label class="control-label" for="grade">Grade</label>
              <input class="form-control" type="text" name="grade" id="grade" formControlName="grade" value= "{{ employee.grade }}">
            </div>
            <div class="form-group">
              <label class="control-label" for="email">Email</label>
              <input class="form-control" type="text" name="email" id="email" formControlName="email" value= "{{ employee.email }}">
            </div>
            <div class="form-group">
              <label class="control-label" for="office">Office Location</label>
              <input class="form-control" type="text" name="office" id="office" formControlName="office" value= "{{ employee.locationId }}">
            </div>
        </div>
        <div class="col-sm-2" id="formcoloumn">
          <img src="{{ employee.imageUrl }}">
        </div>
      </div>
      <div class="row">
        <button >Cancel</button>
        <button type="submit" [disabled]="!form.valid">Save</button>
      </div>
    </form>
</section>

