<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <app-login-bar></app-login-bar>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <app-search-bar [employee]="media"></app-search-bar>
            </div>
            <div class="col-sm-7">
                <app-navigation-bar> </app-navigation-bar>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <app-employee-list (selectedEmployee)="loadEmployeeDetail($event)" (add)="addEmployee()"></app-employee-list>
            </div>
            <div class="col-sm-7">
                <app-employee-detail *ngIf="media" [employee]="media"></app-employee-detail>
            </div>
        </div>
    </div>
    <div>
        <app-employee-add *ngIf="add" (close)="closePopup()"></app-employee-add>
    </div>
</section>