<section>
    <div class="header">
        
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <login-bar></login-bar>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <search-bar></search-bar>
            </div>
            <div class="col-sm-7">
                <navigation-bar></navigation-bar>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <employee-list></employee-list>
            </div>
            <div class="col-sm-7">
                <employee-detail></employee-detail>
            </div>
        </div>
    </div>
</section>