<section>
    <app-employee *ngFor="let employee of (employees$ | async  
    | lastnameSearch:(filter$|async).searchQuery
    | sortingName:(filter$|async).sortOrder 
    | filterGender:(filter$|async).filter.gender 
    | filterLocation:(filter$|async).filter.location
    )"
    [employee]="employee"
    (loaddetail)="loadEmployeeDetail($event)"
    [ngClass]="{'highlight': highlightedDiv === employee.id }"
    (click)="toggleHighlight(employee.id)"
    ></app-employee>
    <div class="not-found" *ngIf="(employees$ | async  
    | lastnameSearch:(filter$|async).searchQuery
    | sortingName:(filter$|async).sortOrder 
    | filterGender:(filter$|async).filter.gender
    | filterLocation:(filter$|async).filter.location
    ).length == 0">
        We couldn't find what you are looking for...
    </div>
    <button type="button" class="btn btn-circle btn-lg" id="right" (click)="clearForm()">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    
</section>