<div class="card-block">
    <table>
        <tr>
            <td rowspan="3" valign="center">
                <img class="img-circle" src="{{ mediaItem.image }}" alt="image">
            </td>
            <td class="left"><b>{{ mediaItem.firstname }} {{ mediaItem.lastname }}</b></td>
            <td class="right"><b>{{ mediaItem.hireddate }}</b></td>
        </tr>
        <tr>
            <td class="left">{{ mediaItem.grade }}, {{ mediaItem.division }}</td>
            <td></td>
        </tr>
        <tr>
            <td class="left">{{ mediaItem.office }}, {{ mediaItem.phone }}</td>
            <td rowspan="2" class="right" valign="center"><i class="glyphicon glyphicon-record">></i></td>
        </tr>
    </table>
    
</div>
