<section>
    <div class="row">
        <div class="col col-sm-3">
            <button type="button" class="btn btn-circle btn-lg left">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <button type="button" class="btn btn-circle btn-lg left">
                <span class="glyphicon glyphicon-user"></span>
            </button>
            <ul class="left">
                <li>
                    Bery Orindi
                </li>
                <li>
                    SE-JP
                </li>
            </ul>
        </div>
        <div class="col col-sm-7">
           
        </div>
        <div class="col col-sm-2">
            <button type="button" class="btn btn-circle btn-lg" id="right">
                <span class="glyphicon glyphicon-off"></span>
            </button>
            <button type="button" class="btn btn-circle btn-lg" id="right">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
        </div>
    </div>
</section>