<section>
    <button type="button" class="btn btn-circle btn-lg">
        <span class="glyphicon glyphicon-user"></span>
    </button>
    <button type="button" class="btn btn-circle btn-lg">
        <span class="glyphicon glyphicon-time"></span>
    </button>
    <button type="button" class="btn btn-circle btn-lg">
        <span class="glyphicon glyphicon-book"></span>
    </button>
    <button type="button" class="btn btn-circle btn-lg">
        <span class="glyphicon glyphicon-sunglasses"></span>
    </button>
    <button type="button" class="btn btn-circle btn-lg">
        <span class="glyphicon glyphicon-home"></span>
    </button>
    <button type="button" class="btn btn-circle btn-lg">
        <span class="glyphicon glyphicon-map-marker"></span>
    </button>
</section>