<section>
    <button type="button" class="btn btn-circle btn-lg">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>
    <button type="button" class="btn btn-circle btn-lg">
        <span class="glyphicon glyphicon-user"></span>
    </button>
    <button type="button" class="btn btn-circle btn-lg" id="right">
        <span class="glyphicon glyphicon-cog"></span>
    </button>
    <button type="button" class="btn btn-circle btn-lg" id="right">
        <span class="glyphicon glyphicon-off"></span>
    </button>
</section>