:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid;
  border-color : grey;
  padding: 10px;
  color: black;
}

.img-circle {
    border-radius: 50%;
    width : 70px;
    height: 70px;
}

.right {
  text-align: right;
}
.left {
  text-align: left;
}

table{
  width: 100%;
}