:host {
  display: flex;
  padding: 20px;
  margin: 0;
  overflow-y: auto;
  max-height: 550px;
}

.col{
  padding : 25px;
}

img{
    border-radius: 50%;
    width : 100px;
    height: 100px;
}

#upload{
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top : 25px;
}


.btn{
    float: right;
}

#imageUrl{
    display: none;
}
